<footer class="site-footer">

    <div class="wrapper">
  
      <div class="footer-col-wrapper">

        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></li>
          </ul>
        </div>

        <div class="footer-col footer-col-1">
          <ul class="social-media-list">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
            {% if site.linkedin_username %}
            <li>
              {% include icon-linkedin.html username=site.linkedin_username full_name=site.full_name %}
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="footer-col footer-col-4">
            <!-- <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fdarshanmakwana412.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=VIEWS&edge_flat=true"/></a> -->
            Git Commit SHA
            <br>
            <div style="margin-left: -80px;">
            {% if site.github.build_revision %}
                {{ site.github.build_revision }}
            {% else %}
                f6a84c5efc72c2c77cec71ffcb9241d3f8b61506
            {% endif %}
            </div>
        </div>
        
        
        
      </div>
  
    </div>
  
  </footer>