$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #8A5CF5 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$red: #D51A24;
$pink: #F7C5C7;
$green: #307722;
$light-green: #d4efc9;
$blue: #1C6ACA;
$light-blue: #bcf2ed;
$yellow: #914d08;
$light-yellow: #f4eddc;
$magenta: #655978;
$lavender: #eef;
$purple-border: #837297;
$gray: #514E4D;
